.tippy-box{
  background-color: $black;
  box-shadow: $input-box-shadow;
}

.tippy-box{
  .btn.active {
    color: $info
  }
}

.tippy-content {
  button {color:$white}
}

.modal {z-index: 99999;}

.editor-content img {

}

div[contenteditable="true"] {
  border: thin dashed $pink;
  border-radius: 10px;
  padding:5px;
  margin:-5px;
}

.save-bar {
  background: transparentize($black, 0.1);
  box-shadow: 0px 4px 24px rgba($black, 0.2);
}

.page-content{
  font-size: 1rem;
  img{margin: 0 -15% 0 -15%;width:130%;}
}

.post-content{
  font-size: 1rem;
  img{margin: 0 -15% 0 -15%;width:130%;}
}

.offer-content{
  font-size: 1rem;
  img{margin: 0 -5% 0 -5%;width:110%;}
}

.comment-content{
  img{max-width: 100%;margin:0}
}
